body {
    margin: 0;
    height: 100vh;
    cursor: url('../images/custom.svg'), auto;
    background: rgb(27, 27, 27);
}

.cursor {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    
}
.navbar ul{
    list-style-type: none;
    background-color: lightpink;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hotpink;
}
.navbar li{
    float: left;
    margin-left: 140px;
    margin-right: 140px;
}
.button {
   margin-left: 1000px;
   margin-right: 1000px;
}
