body {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;

}
.navbar ul{
    list-style-type: none;
    background-color: lightpink;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 12px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hotpink;
}
.navbar li{
    float: left;
    margin-left: 140px;
    margin-right: 140px;
}
.icon-button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}
.icon-button img{
    width: 100px;
    height: 100px;
}
.space {
    margin-right: 200px;
    text-decoration: none;
    color: inherit;
}
.space2{
    text-decoration: none;
    color: inherit;
}
.space3{
    color: inherit;
}
.JC {
  border-radius: 25px;
  background-color: goldenrod;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-left: 200px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-pinterest {
  background: #cb2027;
  color: white;
}
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
